# Created by .gitignore support plugin (hsz.mobi)
.idea/
.env # this is an environment file which contains API keys and such

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


